# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
bin/
/kura

# Environment
.env
.env.local

# Data
data/
tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
web/node_modules/
web/.output/
web/.nuxt/
web/dist/*
!web/dist/.gitkeep
